.container {
    display: flex;
    height: 100%;
}

.gutter-sm {
    margin: 2px;
}

.gutter-md {
    margin: 8px;
}

.margins-sm {
    margin: 4px;
}

.row-sm {
    width: 16%;
}

.scrollable {
    overflow: auto;
}

.wrap-row {
    flex-wrap: wrap;
    justify-content: center;
}
