.container {
    display: flex;
    height: 100%;
}

.col-lg {
    width: 64%;
}

.col-md {
    width: 32%;
}

.cols {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gutter-sm {
    margin: 2px;
}

.gutter-md {
    margin: 8px;
}

.margins-sm {
    margin: 4px;
}

.scrollable {
    overflow: auto;
}

.wrap-row {
    flex-wrap: wrap;
    justify-content: center;
}

code {
    white-space: pre-line;
}