.center {
    text-align: center;
}

.cols {
    flex-direction: column;
}

.container {
    display: flex;
}

.half-view {
    height: 50%;
    overflow: auto;
}

.tall {
    height: 100%;
}

.padding-top-sm {
    padding-top: 5px;
}

.bottom-pd-sm {
    padding-bottom: 5px;
}

 .text-viewer {
     width: 75%;
     height: 100%;
 }

.sidenav {
    width: 15vw;
}

.sidenav-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav-content {
    margin-left: 16vw !important;
    margin-right: 1vw !important;
    width: 83vw;
}