.center {
    text-align: center;
}

.cols {
    flex-direction: column;
}

.container {
    display: flex;
}

.elevation-lvl1 {
    box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
}

.bottom-div {
    background: #424242;
    border-radius: 4px;
    bottom: 0;
    height: 20%;
    position: absolute;
    width: 100%;
}

.bottom-div code {
    overflow: auto;
    white-space: pre-line;
    font-family: inherit;
}

.float {
    position: absolute;
    right: 8px;
}

.toc {
    margin-right: 40px;
}

.tall {
    height: 100%;
}

.padding-top-sm {
    padding-top: 5px;
}

.bottom-pd-sm {
    padding-bottom: 5px;
}

.left-pd-sm {
    padding-left: 4px;
}

.pd-md {
    padding: 8px;    
}

 .text-viewer {
     width: 100%;
     height: 100%;
 }

.sidenav {
    width: 15vw;
}

.sidenav-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav-content {
    margin-left: 16vw !important;
    margin-right: 1vw !important;
    width: 83vw;
}

.sidenav-title {
    font-size: 16px;
    font-weight: 600;
}