<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="sidenav-title">
                        Stories
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table-of-contents [border]="false" [content]="storyList" (onSelected)="onSelected($event, 's')">
                </table-of-contents>    
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="sidenav-title">
                        Poetry
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table-of-contents [border]="false" [content]="poetryList" (onSelected)="onSelected($event, 'p')">
                </table-of-contents>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="sidenav-title">
                        Essays
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="sidenav-title">
                        "Daily" Practice
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table-of-contents [border]="false" [content]="dailyPracticeList" (onSelected)="onSelected($event, 'dp')">
                </table-of-contents>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <div class="container cols tall">
            <h1 class="center">{{fileTitle}}</h1>
            <mat-divider></mat-divider>
            <div class="container padding-top-sm tall">
                <div class="container cols">
                    <button-menu class="bottom-pd-sm" buttonStyle="f" color="accent" [menuItems]="marginMenu" 
                        (onSelected)="setMargins($event)" [title]="marginTitle">
                    </button-menu>            
                    <button-menu class="bottom-pd-sm" buttonStyle="f" color="accent" [menuItems]="alignmentMenu" 
                        (onSelected)="setAlignment($event)" [title]="alignmentTitle">
                    </button-menu>
                    <button-menu class="bottom-pd-sm" buttonStyle="f" color="accent" [menuItems]="textSizeMenu"
                        (onSelected)="setTextSize($event)" [title]="textSizeTitle">
                    </button-menu>
                </div>
                <text-viewer class="text-viewer" [style]="textViewerStyle" [text]="file" noTitle="true"></text-viewer>
                <div class="bottom-div elevation-lvl1 container cols" *ngIf="drawer.active">
                    <code class="pd-md" [innerHtml]="file.misc.meta"></code>
                </div>        
                <table-of-contents *ngIf="tableOfContents.length > 0" class="float toc" [content]="tableOfContents" title="Table of Contents" ></table-of-contents>            
                <div class="container cols tall left-pd-sm">
                    <div class="bottom-pd-sm">
                        <button mat-fab color="accent" (click)="toggleFavorite()" *ngIf="file.misc && file.misc.favorite != undefined">
                            <mat-icon [svgIcon]="file.misc.favorite"></mat-icon>
                        </button>
                    </div>
                    <div class="bottom-pd-sm" *ngIf="!drawer.hide">
                        <button mat-fab color="accent" (click)="toggleDrawer()">
                            <mat-icon [svgIcon]="drawer.icon"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
