.full {
    height: 100%;
    width: 100%;
}

.half-view {
    height: 50%;
    overflow: auto;
}

.row-top > ::ng-deep figure {
    align-items: flex-start !important;
}

.left-align > ::ng-deep figure {
    justify-content: left !important;
}

.right-align > ::ng-deep figure {
    justify-content: right !important;
}

.row-md {
    overflow: auto;
}

.sidenav {
    width: 15vw;
}

.sidenav-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav-content {
    margin-left: 16vw !important;
    width: 85vw;
}