<div [ngClass]="selectedTheme">
    <mat-toolbar color="primary" class="banner">
        <mat-toolbar-row>
            <button mat-button class="home" routerLink="/home">
                KtC
            </button>
            <button mat-button class="pageLink" routerLink="/writing" routerLinkActive="active">
                Writing
            </button>
            <button mat-button class="pageLink" routerLink="/code" routerLinkActive="active">
                Code
            </button>
            <button mat-button class="pageLink" routerLink="/photography" routerLinkActive="active">
                Photography
            </button>
            <button mat-button class="pageLink" routerLink="/blog" routerLinkActive="active">
                Blog
            </button>
            <span class="filler"></span>
            <button mat-button (click)="joinMailingList()">Join Mailing List</button>
            <button-menu [menuItems]="themeMenu" (onSelected)="setTheme($event)" [title]="themeTitle"></button-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-app-background view-port">
        <router-outlet></router-outlet>
    </div>
</div>