.active {
    background-color: #a277b5;
}

.banner {
    height: 64px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

.full {
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 64px;
    width: 100%
}

.home {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

.pageLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%
}