<mat-toolbar color="primary" class="banner">
    <mat-toolbar-row>
        <button mat-button color="accent" class="home" routerLink="/home">
            KtC
        </button>
        <button mat-button class="pageLink" routerLink="/writing" routerLinkActive="active">
            Writing
        </button>
        <button mat-button class="pageLink">
            Code
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-app-background full">
    <router-outlet></router-outlet>
</div>