.active {
    background-color: #a277b5;
}

.banner {
    height: 64px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

.filler {
    flex-grow: 1;
}

.home {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

.pageLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%
}

.view-port {
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 64px;
    width: 100%
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
/* The Background, usually covered by other elements */
::-webkit-scrollbar {
    width: 8px;
}

/* The empty space below the progress bar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* The draggable progress element */
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}