@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html

$forest-dark-primary: mat-palette($mat-green, 500, 300, 700);
$forest-dark-accent: mat-palette($mat-brown, 500, 300, 700);

// The warn palette is optional (defaults to red).
$forest-dark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$forest-dark-theme: mat-dark-theme($forest-dark-primary, $forest-dark-accent, $forest-dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.forest-dark {
    @include angular-material-theme($forest-dark-theme);    
}

.forest-dark .active {
    background-color: mat-color($forest-dark-accent) !important;
}

.forest-dark .white-text {
    color: white !important;
}