@import '~@angular/material/theming';
// Plus imports for other components in your app.

$sea-light-primary: mat-palette($mat-light-blue);
$sea-light-accent: mat-palette($mat-teal, A200, A100, A400);

$sea-light-warn: mat-palette($mat-red);

$sea-light-theme: mat-light-theme($sea-light-primary, $sea-light-accent, $sea-light-warn);

.sea-light {
    @include angular-material-theme($sea-light-theme);    
}