@import '~@angular/material/theming';
// Plus imports for other components in your app.

$sea-dark-primary: mat-palette($mat-light-blue);
$sea-dark-accent: mat-palette($mat-teal, A200, A100, A400);

$sea-dark-warn: mat-palette($mat-red);

$sea-dark-theme: mat-dark-theme($sea-dark-primary, $sea-dark-accent, $sea-dark-warn);

.sea-dark {
    @include angular-material-theme($sea-dark-theme);    
}

.sea-dark .active {
    background-color: mat-color($sea-dark-accent) !important;
}

.sea-dark .white-text {
    color: white !important;
}

.sea-dark .mat-snack-bar-container {
    background: mat-color($sea-dark-accent) !important;
}