.box {
    display: flex;
}

.center {
    text-align: center;
}


.container {
    display: flex;
    flex: 1;
    height: calc((100% - 5.5em)); /* offset by size of header */        
    justify-content: center;
    overflow: auto;
}

.text-body {
    margin-top: 5px;
}

p.MsoNormal {
    text-indent: 4em !important;
}