<div class="full">
    <h1>Welcome to Wandering Thoughts</h1>
    <img src="../../../assets/1D2B78E0-7339-405E-9111-F4CA711BDB3E.jpeg" class="selfie"/>
    <span class="caption">Me by eriume, a.k.a distar, a.k.a G of a Thousand Names</span>
    <p>
        This webiste is really more of an expression of hobbies, than anything else. Each
        pag is dedicated to specific hobby of mine, from writing and coding to photography.
        Even Wandering Thoughts itself is code I've written, as a means of experimentation adventure
        centralizing where I put everything (Side note, all my code is open source, so if you want to
        use any of it, feel free).
    </p> 
    <mat-divider class="page-padding-sm"></mat-divider>
    <h2>Note</h2>
    <p>
        Everthing is still fairly beta, sitting at version 0.1. If you find any bugs or have suggestions
        for improvement please shoot on over to the github page (link in the footer), and make an issue.
        ... I'm out of words at the moment, so feel free to explore - and thanks for spending some time
        with me.
    </p>   
    <mat-toolbar color="primary" class="footer">
        <mat-toolbar-row>
            <span>Version 0.1</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>