<div class="full">
    <h1>Welcome to Wandering Thoughts</h1>
    <img src="../../../assets/1D2B78E0-7339-405E-9111-F4CA711BDB3E.jpeg" class="selfie"/>    
    <a href="https://eriume.deviantart.com/" target="_blank" class="white-text">
        Me by eriume, a.k.a distar, a.k.a G of a Thousand Names
    </a>
    <div class="center-md">
        <div *ngFor="let tag of content">
            <div *ngIf="tag !== 'mat-divider'" [innerHtml]="tag"></div>
            <mat-divider *ngIf="tag === 'mat-divider'"></mat-divider>
        </div>
    </div>
    <div class="center-md" *ngIf="content.length === 0">
        <h1>Alternate Introduction</h1>
        <p>
            First off - "Hello". Ok, now that curtousy has been covered, I apologize. I have a pretty entertaining (self-described)
            introduction, but it seems that the words have gone missing! Rather then nest it in the page, I created a markdown filler
            that gets fetched on loading of the page and then displayed out. Either that file is missing (Not my fault... I hope), or
            there was a network error.
            Either way, thanks for visiting. If you have any questions or concerns, feel free to hit up the github page and raise an
            issue. Hopefully next time the everything loads up smooth.
        </p>
    </div>
    <mat-toolbar color="primary" class="footer">
        <mat-toolbar-row>
            <p class="normal">Version {{version}}</p>
            <span class="filler"></span>
            <a href="https://takihirocore.deviantart.com/" target="_blank">dA</a>
            <a href="https://github.com/KhainTCore/wanderingThoughts" target="_blank">
                <mat-icon svgIcon="gitHub"></mat-icon>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>