.caption {
    color: white !important;
}

.full {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.footer {
    min-height: 32px;
    bottom: 0;
    left: 0;
    right: 0;
}

.normal {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.page-padding-sm {
    width: 75%;
}

.selfie {
    width: calc(16% + 48px);
}

a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}