/* General */
.background {
    background: black;
    opacity: .7;
}

.btn-hover {
    position: absolute;
    bottom: 8px;
}

.container {
    display: flex;
    height: 100%;
    position: relative;
}

.center-container {
    display: flex;
    justify-content: center;
}

.counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.fullscreen {
    cursor: zoom-out;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.fullscreen > img {
    align-self: center;
    max-height: 95%;
    max-width: 95%;
    overflow: auto;
}

.simple-container {
    display: flex;
}

.tray-sm {
    background: black;
    border-radius: 3px;
    opacity: .7;
    min-width: 8%;
}

a {
    cursor: pointer;
}

/* End General */

/* Button Styles */

.overlay-bottom {
    position: relative; 
    justify-content: center;
    top: -48px; 
}

.overlay-sides {
    display: flex;
    justify-content: space-between; 
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.transparent {
    opacity: .4;
}

.whole-bottom {
    padding-top: 8px;
}

.whole-bottom > button {
    flex-grow: 1;
}

button {
    margin-left: 2px;
    margin-right:2px;
}

/* End Button Styles */
