<mat-card [ngStyle]="{'width.px': albumWidth}">
    <mat-card-header>
        <mat-card-title>
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content [ngStyle]="{'height.px': albumHeight}">
        <div *ngFor="let item of items" [@viewState]="item.state" class="simple-container">
            <img *ngIf="item.image" [src]="item.image" [ngStyle]="{'max-height.px': albumHeight, 'max-width.px': albumWidth}"/>
            <div class="tray-sm btn-hover">
                <a class="center-container" (click)="zoomIn(item)">
                    <mat-icon [svgIcon]="zoomIcon.icon || zoomIcon" [ngClass]="zoomIcon.class" *ngIf="zoomIcon"></mat-icon>
                    <span *ngIf="!zoomIcon">Fullsize</span>
                </a>
            </div>
            <p *ngIf="item.content">{{item.content}}</p>
        </div>
        
        <span class="counter">{{numberOfViewed}} of {{items.length}}</span>
        
        <div [ngClass]="navButtonStyle">
                <button mat-button (click)="toggleState(true)" *ngIf="navButtonIcons">
                    <mat-icon [svgIcon]="navButtonIcons.left"></mat-icon>
                </button>
                <button mat-button (click)="toggleState()" *ngIf="navButtonIcons">
                    <mat-icon [svgIcon]="navButtonIcons.right"></mat-icon>
                </button>
    
                <button mat-raised-button color="accent" (click)="toggleState(true)" *ngIf="!navButtonIcons">
                    Left
                </button>
                <button mat-raised-button color="accent" (click)="toggleState()" *ngIf="!navButtonIcons">
                    Right
                </button>
            </div>
    </mat-card-content>
</mat-card>

<div class="background fullscreen" *ngIf="zoomed"></div>
<a class="center-container fullscreen" (click)="zoomOut()" *ngIf="zoomed">
    <img [src]="zoomed.image"/>    
</a>
