<mat-card [ngStyle]="{'width.px': albumWidth}"> 
    <mat-card-header>
        <mat-card-title>
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container" [ngStyle]="{'height.px': albumHeight}">
            <div class="container">
                <div class="image-side"></div>
                <div class="image-side"></div>
                <div class="image-side"></div>
            </div>
            
            <div class="container fill-space">
                <div *ngFor="let item of items" [@viewState]="item.state" class="content center-container">
                    <img *ngIf="item.image" class="self-center" [src]="item.image" [ngStyle]="{'height.px': albumHeight, 'max-width.px': imgWidthLimit}"/>
                    <div class="tray-sm btn-hover">
                        <a class="center-container" (click)="zoomIn(item)">
                            <mat-icon [svgIcon]="zoomIcon.icon || zoomIcon" [ngClass]="zoomIcon.class" *ngIf="zoomIcon"></mat-icon>
                            <span *ngIf="!zoomIcon">Fullsize</span>
                        </a>
                    </div>
                    <p *ngIf="item.content" class="outline">{{item.content}}</p>
                </div>
            </div>
            
            <div class="container">
                <div class="image-side"></div>
                <div class="image-side"></div>
                <div class="image-side"></div>
            </div>
        </div>
        <div class="container" [ngClass]="navButtonStyle" [ngStyle]="{'width.px': albumWidth}">
            <button mat-button class="left" (click)="toggleState(true)" *ngIf="navButtonIcons">
                <mat-icon [svgIcon]="navButtonIcons.left"></mat-icon>
            </button>
            <button mat-button class="right" (click)="toggleState()" *ngIf="navButtonIcons">
                <mat-icon [svgIcon]="navButtonIcons.right"></mat-icon>
            </button>

            <button mat-raised-button color="accent" class="left" (click)="toggleState(true)" *ngIf="!navButtonIcons">
                Left
            </button>
            <button mat-raised-button color="accent" class="right" (click)="toggleState()" *ngIf="!navButtonIcons">
                Right
            </button>
        </div>
    </mat-card-content>
</mat-card>

<div class="background fullscreen" *ngIf="zoomed"></div>
<a class="center-container fullscreen" (click)="zoomOut()" *ngIf="zoomed">
    <img [src]="zoomed.image"/>    
</a>
