/* General */
.background {
    background: black;
    opacity: .7;
}

.btn-hover {
    position: absolute;
    bottom: 8px;
}

.container {
    display: flex;
    height: 100%;
    position: relative;
}

.center-container {
    display: flex;
    justify-content: center;
}

.content {
    flex-grow: 2;
}

.outline {
    border: 1px solid darkgray;
}

.fill-space {
    flex-grow: 2;
    justify-content: space-between;
}

.full {
    height: 100%;
    width: 100%;
}

.fullscreen {
    cursor: zoom-out;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.fullscreen > img {
    align-self: center;
    max-height: 95%;
    max-width: 95%;
    overflow: auto;
}

.image-side {
    background: grey;
    display: inline-block;
    margin-right: 4px;
    width: 1px;
}

.tray-sm {
    background: black;
    border-radius: 3px;
    opacity: .7;
    min-width: 8%;
}

a {
    cursor: pointer;
}

/* End General */

/* Button Styles */

.overlay-bottom {
    position: relative; 
    justify-content: center;
    top: -48px; 
}

.overlay-sides {
    height: auto;
    justify-content: space-between; 
    position: absolute;
    top: 50%;
}

.overlay-sides > .left {
    margin-left: 32px;
}

.overlay-sides > .right {
    margin-right: 32px;
}

.transparent {
    opacity: .4;
}

.whole-bottom {
    padding-top: 8px;
}

.whole-bottom > button {
    flex-grow: 1;
}

button {
    margin-left: 2px;
    margin-right:2px;
}

/* End Button Styles */
