.button-link {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 4px;
}

.button-link:hover, a:hover {
    background: grey;
    border-radius: 2px;
}

.content {
    float: right;
}

.header {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 10px;
    text-transform: uppercase;
}

.left-col {
    margin-right: 8px;
    width: 2px;
}

.right-col {
    flex: 1;
}

.row {
    display: flex; /* Children will have equal height */
    margin-left: 14px;
}

a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0px;
}